/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #ee6e73;
    color: #fff;
    font-size: 62.5%;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-feature-settings: "palt";
    position: relative;
}
.main__content {
    margin: 50px 30px;
}
.main__content h1 {
    font-size: 3rem;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.2;
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid #fff;
}
.main__content ol {
    counter-reset:number;
    padding:0.5em;
}
.main__content li {
    position: relative;
    line-height: 1.5em;
    padding: 0.5em 0.5em 0.5em 35px;
    display: flex;
    align-items: center;

}
.main__content li:not(last-child) {
    margin-bottom: 10px;
}
.main__content ol li:before{
    position: absolute;
    counter-increment: number;
    content: counter(number);
    display:inline-block;
    background: #26a69a;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    font-weight:bold;
    font-size: 1rem;
    border-radius: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align:center;
    top: 50%;
    -moz-transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);

}
.main__content a {
    color: #fff;
    text-decoration: none;
    transition: .3s all;
    font-size: 1.2rem;
}
.main__content a:hover {
    color: #26a69a;
}

footer {
    background: #5c5757;
    width: 100%;
    position: fixed;
    bottom: 0;
}
footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
footer ul li {
    height: 70px;
    line-height: 70px;
    width: 32%;
    text-align: center;
}
footer ul li:not(:last-child) {
    border-right: 1px solid #fff; 
}
footer ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: .5s all;
    font-weight: bold;
    letter-spacing: 1.5px;
}
footer ul li a:hover {
    opacity: .7;
}
